$mainColor: green !global;
//$mainColor: #5146ff !global;84a07b
//$mainBackColor: #f2f4f6;
$mainBackColor: rgba(0,0,0,0.03);
$hrefColor: rgba(0,0,0,0.5);
$hrefHoverColor: rgba(0,0,0,0.8);
// 项目主体背景色
$mainThemeBackColor: #E6E6E6;
$mainLogoColor: #B7558E;
$mainColorBack:rgba(183,85,142,0.2);
$box_shadow: 0 0 10px rgba(0, 0, 0, 0.3);
